{% extends 'basic.html' %}
{% block title %}Victor B{% endblock title %}

{% block hero %}
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Victor Boluwaji</h1>
      <p>I'm a <span class="typed" data-typed-items="Data Scientist, Backend Developer, Freelancer"></span></p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
</section>  
  
{% endblock hero %}
{% block body %}
{% for message in messages %}
    <div class="alert alert-{{me}} alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      
{% endfor %}

{% endblock body %}